@layer reset, base, layout, components;

@layer reset {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4, button, input, label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1, h2, h3, h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a {
    text-decoration-skip-ink: auto;
    color: var(--color-bittersweet);
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

  small {
    font-size: 0.75rem;
  }
}

@layer base {
  :root {
    --color-surface: oklch(97.26% 0.02027 81.739);
    --color-accent: oklch(52.358% 0.14808 30.399);
    --color-primary: oklch(37.099% 0.01884 43.817);
    --font-family-serif: "Libre Baskerville", serif;
  }

  .mode\:accent {
    --color-primary: oklch(97.26% 0.02027 81.739);
    --color-surface: oklch(52.358% 0.14808 30.399);
    --color-accent: oklch(37.099% 0.01884 43.817);
  }

  body {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    background-color: var(--color-surface);
    color: var(--color-primary);
  }

  h1, h2, h3, h4, h5, .serif {
    font-family: var(--font-family-serif);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .container {
    box-sizing: content-box;
    max-inline-size: 980px;
    margin-inline: auto;
    padding-inline: 2rem;
    padding-block-end: 2rem;
  }

  #header {
    padding-block-end: 1rem;
    border-block-end: 2px solid var(--color-light-orange);
  }
}

@layer layout {
  .cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & > .label {
      margin-inline-start: 0;
    }
  }

  .stack {
    > * + * {
      margin-block-start: 2rem;
    }
  }
}

@layer components {
  @counter-style card-numbers {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    pad: 2 "0";
  }
  .card-list {
    counter-reset: cards;
  }

  .card {
    overflow: clip;
    outline: 1px solid var(--color-accent);
    outline-offset: 6px;
    border: 1px solid var(--color-accent);
    border-radius: 1rem;
    padding: 16px;
    font-size: 1.25rem;
    counter-increment: card;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .card__number {
    margin-inline-start: -16px;
    margin-block-start: -16px;
    font-family: var(--font-family-serif);
    font-weight: 700;
    font-size: 1.5rem;
    content: "#" counter(card, card-numbers);
    background-color: var(--color-surface);
    color: var(--color-primary);
    display: inline-block;
    line-height: 2;
    align-self: start;
    padding-inline: 24px;
    border-end-end-radius: inherit;
  }

  .card__number::before {
    content: "#" counter(card, card-numbers);
  }

  .card__title {
    margin-block: 0;
    font-size: 2rem;
  }

  .card__link {
    font-size: 1rem;
  }

  .label {
    background-color: var(--color-bittersweet);
    border-radius: 1lh;
    padding: 0.4em 1em;
    color: var(--color-light-yellow);
    font-weight: 700;
    font-size: 1rem;
  }
}
